body{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.733);
    text-align: center;
}
section{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../Calculator/bg.gif);
    position: absolute;
    width: 100%;
    height: 100vh;
}
.box1{
    box-sizing: border-box;
    box-shadow: 8px 8px 60px #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    border-radius: 8px;
    position: absolute;
    width: 340px;
    background-color: rgba(128, 128, 128, 0.719);
    padding: 6px 2px 4px 4px;
}
.box2{
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    width: 98.5%;
    background: transparent;
    margin-top: 14px;
    margin-bottom: 3px;
    left: 2px;
}
#label{
    text-align: center;
    border: none;
    border-radius: 5px;
    outline: none;
    color: rgba(255, 255, 255, 0.705);
    background-color: rgba(0, 0, 0, 0.692);
    font-weight: initial;
    font-size: 40px;
    letter-spacing: 2px;
    width: 96.5%;
    position: absolute;
    left: 6px;
    padding: 3px;
    cursor: default;
}
#input{
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 30px;
    font-weight:initial ;
    color: rgb(0, 0, 0);
    text-align: right;
    width: 93%;
    padding: 10px;
    font-family: sans-serif;
    background: transparent;
}
#result{
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 22px;
    font-weight:initial ;
    color: black;
    text-align: right;
    width: 93%;
    padding: 10px;
    background: transparent;
    letter-spacing: 2px;
}
::placeholder{
    color: black;
}
input[type="button"]{
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 22px;
    font-weight:initial ;
    color: rgb(197, 197, 197);
    text-align: center;
    width: 80px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.692);
    cursor: pointer;
}
input[type="button"]:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
#clear{
    width: 100%;
}
